name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: "11"
        distribution: "temurin"
        cache: 'sbt'
    - uses: sbt/setup-sbt@v1

    - name: sbt GitHub Release
      env:
        CI_BRANCH: ${GITHUB_REF#refs/heads/}
        GITHUB_TOKEN: ${{ secrets.RELEASE_AUTH_TOKEN_GITHUB }}
      run: |
        echo "Run] sbt GitHub release"
        echo 'sbt -J-Xmx2048m "; clean; +test; +packagedArtifacts; gitHubRelease"'
        sbt -J-Xmx2048m "; clean; +test; +packagedArtifacts; gitHubRelease"
    - name: sbt Publish
      env:
        CI_BRANCH: ${GITHUB_REF#refs/heads/}
        BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
        BINTRAY_PASS: ${{ secrets.BINTRAY_PASS }}
      run: |
        echo "Run] sbt GitHub release"
        echo 'sbt -J-Xmx2048m "; clean; +publish"'
        sbt -J-Xmx2048m "; clean; +publish"
